

<% layout('layouts/boilerplate') %> 
    <h1>All Places</h1>
    <div>
        <a href="/5starplaces/new">Add place Ground</a>
    </div>
    <ul>
      <% for(let placeground of fivestarplaces){ %>
           <div class="card" mb-3>
             <div class="row">
                <div class="col-md-4">
                     <img class="img-fluid" alt="" src="<%= placeground.image[0].url %> ">
                </div>
                <div class="col-md-8"> 
                    <div class="card-body">
                        <h5 class="card-title"> <%= placeground.title %> </h5>
                        <p class="card-text"> <%= placeground.description %> </p>
                        <p class="card-text"> 
                            <small class="text-muted"> <%= placeground.location %>  </small>
                        </p>
                        <a href="/5starplaces/<%=placeground._id%> " class="btn btn-primary">view <%=  placeground.title %></a>
                    </div>
                </div>
             </div>
           </div>  
      <% } %>  

    </ul>
